/*flexbox positioning - Use on Parent Flexbox Containers*/
/*set orientation of flex-container*/
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.wrap { flex-wrap: wrap;}
.rev-row { flex-direction: row-reverse;}
.rev-col { flex-direction: col-reverse;}

/*setting space-around and space-between on main or cross axis*/
/*two-dimensional space setting of flexbox contents*/
.space-around {
  justify-content: space-around;
  align-items: space-around;
}
.space-between {
  justify-content: space-between;
  align-items: space-between;
}
/*one-dimensional space setting on either main or cross*/
.space-around-main { justify-content: space-around; }
.space-around-cross { align-items: space-around; }
.space-between-main { justify-content: space-between; }
.space-between-cross { align-items: space-between; }

/*two dimensional positioning of flex container contents*/
.center {
  justify-content: center;
  align-items: center;
}
.upper-left-row, .upper-left-col {
  justify-content: flex-start;
  align-items: flex-start;
}
.lower-right-row, .lower-right-col {
  justify-content: flex-end;
  align-items: flex-end;
}
.upper-right-row, .lower-left-col {
  justify-content: flex-end;
  align-items: flex-start;
}
.lower-left-row, .upper-right-col {
  justify-content: flex-start;
  align-items: flex-end;
}

.left-row, .top-col { justify-content: flex-start; }
.right-row, .bottom-col { justify-content: flex-end; }
.top-row, .left-col { align-items: flex-start; }
.bottom-row, .right-col { align-items: flex-end; }
.hor-mid-row, .ver-mid-col { justify-content: center; }
.ver-mid-row, .hor-mid-col { align-items: center; }

/*Flexbox properties for children*/
.grow { flex: 1 100%; }
.shrink { flex: 0 1 auto; }
.grow-shrink { flex: auto; }
.no-grow {
  flex: 0 0 auto;
  flex: 0 0 main-size;
}
.fill { flex: 1 0 0; }